python-dotenv
psutil
asyncio
immutables
numpy
requests
pytz
redis
paho-mqtt
SpeechRecognition
pyttsx3
requests
ucp-framework
web3
rx
sounddevice
vosk
scikit-learn
coinbase
networkx
chromadb
langchain
langgraph
langchain-ollama
duckduckgo_search
beautifulsoup4
bs4
requests
ddgs
piper-tts