python-dotenv
psutil
requests
pytz
redis
paho-mqtt
web3
rx
networkx
chromadb
langchain-ollama==0.2.0
langchain-core==0.3.0
langchain-chroma
aiohttp
flask
flask-cors
ddgs
bs4
langchain
duckduckgo-search
beautifulsoup4